
service_account_key_generative_exam.json
service_account_key_metamersive.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/data/faiss_index
